@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap");


.exp {
    text-align: center;
    padding: 0px;
    position: absolute;
    filter: drop-shadow(0 0 8px black);

}

/* Back‐button styling can live here or inline */

.exp h1 {
    pointer-events: none;
    text-align: center;
    font-size: 60px;
    font-family: Lexend, serif;

    position: absolute;
    margin-top: 3%;
    margin-left: 6%;

    background-image: url("./images/0.jpg");
    background-size: contain;
    color: transparent;
    background-clip: text;
    transition: 1s all;
    animation: color 8s infinite;




    z-index: 1;
}

@keyframes color {
    from {
        filter: hue-rotate(0deg) drop-shadow(0 0 10px black);

    }  to {
           filter: hue-rotate(360deg)drop-shadow(0 0 10px black);
       }
}

.exp p {
    font-size: 25px;
    font-family: Lexend, serif;
}

.exp p2 {
    font-size: 20px;
    font-family: Lexend, serif;
}

.exp h2 {
    position: absolute;
    text-align: left;
    font-size: 28px;
    margin-top: 10%;
    width: 500px;
    font-family: Lexend, serif;
    padding-left: 6.5%;
    filter: drop-shadow(0 0 4px black);
    z-index: 0;
    pointer-events: none;
}

.scene {
    margin-top: -13.5%;
    z-index: 5;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    padding-right: 20%;
    padding-left: 5%;
    padding-bottom: 20px;

}

.skill {
    display: flex;
    flex: 20 10 25%; /* Adjust this based on the number of visible skills */
    flex-direction: column;
    align-items: center;
    background-color: #4cd1e3;
    border-radius: 10px;
    padding: 23px;
    width: 60px;

}

.skill img {
    border-radius: 5%;
    background-color: white;
    padding: 10px;
    width: 75px;
}

.skill p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Lexend, 'serif';

}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -100px;
    overflow: hidden; /* Make sure overflow is hidden to create the sliding effect */
    padding-right: 12%;
    padding-left: 12%;
    padding-bottom: 80px;
    gap: 28px;


}

.carousel-button {
    background-color: #5776c9;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}

.carousel-button.left {
    left: 8%;
    width: 30px;
}

.carousel-button.right {
    right: 5%;
    width: 30px;

}

.carousel-track-container {
    overflow: hidden;
    width: 180%;
    padding: 15px;

}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth transition */
    will-change: transform;
    padding: 10px;

}