
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Edu+QLD+Hand:wght@400..700&family=Rowdies:wght@300;400;700&display=swap");
.home {
    text-align: center;
    padding: 15px;
}

.home wrapper {
    max-width: 75%;
    margin: auto;
}


.home h1 {
    text-align: center;
    font-size: 50px;
    font-family: Lexend, serif;

    margin-top: 3%;
    margin-left: -70%;

    background-image: url("./images/0.jpg");
    background-size: contain;
    color: transparent;
    background-clip: text;
    /*transition: 1s all;*/
    animation: color 8s infinite;


}

@keyframes color {
   from {
       filter: hue-rotate(0deg);

   }  to {
             filter: hue-rotate(360deg);
         }
}

.home p {
    font-size: 25px;
    font-family: Lexend, serif;
    text-align: left;
    padding-left: 7%;
    padding-right: 40%;
}

.home p3 {
    font-size: 23px;
    font-family: Lexend, serif;
    text-align: center;
}

.home p2 {
    font-size: 18px;
    font-family: Lexend, serif;
    text-align: left;
    padding-right: 48%;
}

.home h2 {
    font-size: 40px;
    font-family: Lexend, serif;

    position: relative;
    text-align: left;
    padding-left: 7%;
}

/*.about button {*/
/*    position: absolute;*/
/*    margin-top: 48px;*/
/*    margin-right: 60px;*/
/*    left: 10px;*/
/*}*/

.photo {
    position: absolute;
    left: 59%;
    bottom: 10%;
    padding: 20px;
    width: 250px;
    height: 365px;
    /*border-radius: 10px;*/
    /*border: white 5px solid;*/
    /*box-shadow: 2px 2px 25px grey;*/
    /*background: linear-gradient(#f5e2cc, #ecc89d);*/
    background-image: url("./images/paper.png");
    background-size: cover;

    z-index: 2;

    color: #000000;
    font-size: 20px;
    /*margin-bottom: 3px;*/
    font-family: "Caveat", serif;
    text-align: center  ;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.74);
}

.image {
    margin-top: 3.5%;
    margin-left: 6.5%;
    width: 220px;
    height: 240px;
    background-image: url("./images/me_gren.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5),
    0px 0px 10px #655c51;
    border-radius: 10px;

    transition: 1s all;
    animation: bgLoop 10s infinite;
}

@keyframes bgLoop {
    0% {
        background-image: url("./images/me_gren.jpeg");
    }
    23% {
        background-image: url("./images/me_gren.jpeg");
    }
    33% {
        background-image: url("./images/me_pink.png");
    }
    56% {
        background-image: url("./images/me_pink.png");
    }
    66% {
        background-image: url("./images/me_cat.jpeg");
    }
    90% {
        background-image: url("./images/me_cat.jpeg");
    }
    100% {
        background-image: url("./images/me_gren.jpeg");
    }

}