
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Edu+QLD+Hand:wght@400..700&family=Rowdies:wght@300;400;700&display=swap");
.home {
    text-align: center;
    padding: 15px;
    filter: brightness(1) drop-shadow(0px 0px 8px black);


}

.home wrapper {
    max-width: 75%;
    margin: auto;
}

.home.open {
    filter: brightness(1);
    padding: 15px;
    text-align: center;

}

.home h1 {
    text-align: center;
    font-size: 50px;
    font-family: Lexend, serif;

    margin-top: 3%;
    margin-left: -70%;

    background-image: url("./images/0.jpg");
    background-size: contain;
    color: transparent;
    background-clip: text;
    /*transition: 1s all;*/
    animation: color 8s infinite;


}

@keyframes color {
    from {
        filter: hue-rotate(0deg) drop-shadow(0 0 8px black);

    }  to {
           filter: hue-rotate(360deg)drop-shadow(0 0 8px black);
       }
}

.home p {
    font-size: 25px;
    font-family: Lexend, serif;
    text-align: left;
    padding-left: 7%;
    padding-right: 40%;
    filter: drop-shadow(0 0 5px black);
}

.blackbox {
    /*max-width: 100%;*/
    background: black;
    width: 100%;
    height: 1000px;
    margin-top: -45%;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.blackbox.open  {
    opacity: 0.5;
}

.resume-button {
    font-size: 35px;
    font-family: Lexend, serif;
    text-align: left;
    margin-left: 7%;
    padding-left: 0%;
    padding-right: 0%;
    color: #a0b9ff;
    width: 50px;
    height: 40px;
    /*text-decoration: underline;*/
}
.resume-button:hover {
    cursor: pointer;
    color: #82a1f5;

}

.resume {
    position: absolute;
    margin-top: 20%;
    height: 450px;
    width: 380px;
    background-image: url("./images/resume_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 30%;
    transition: 0.5s ease-in-out;

}

.resume.open {
    position: absolute;
    margin-left: 30%;


    margin-top: -35%;
    box-shadow: 0px 0px 25px black;
}
.exit {
    margin-left: 105%;
    font-size: 25px;
    font-family: Lexend, "serif";
    padding-bottom: 5px;

    background: #444;
    border: 2px solid #eee;
    border-radius: 3px;
    color: #eee;
    /*padding: 7px 14px;*/
    cursor: pointer;

    width: 40px;
    height: 40px;
}
.exit:hover{
    background: #707070;
}
.home2 a{
    background: #444;
    border: 2px solid #eee;
    border-radius: 3px;
    padding: 8px;

    font-size: 32px;
    text-align: center;
    margin-left: 105%;
    margin-top: 92%;
    position:absolute;
}
.home2 a:link {
    color: #a7d7f1;
    /*background-color: transparent;*/
    text-decoration: none;
}

.home2 a:visited {
    color: #c5a5ff;
    /*background-color: transparent;*/
    text-decoration: none;
}

.home2 a:hover {
    color: #71a5e1;
    /*background-color: transparent;*/
    text-decoration: underline;
}

.home p3 {
    font-size: 23px;
    font-family: Lexend, serif;
    text-align: center;
}

.home p2 {
    font-size: 18px;
    font-family: Lexend, serif;
    text-align: left;
    padding-right: 48%;
}

.home h2 {
    font-size: 40px;
    font-family: Lexend, serif;

    position: relative;
    text-align: left;
    padding-left: 7%;
}

/*.about button {*/
/*    position: absolute;*/
/*    margin-top: 48px;*/
/*    margin-right: 60px;*/
/*    left: 10px;*/
/*}*/

.photo {
    position: absolute;
    left: 59%;
    bottom: -12%;
    padding: 20px;
    width: 250px;
    height: 365px;
    /*border-radius: 10px;*/
    /*border: white 5px solid;*/
    /*box-shadow: 2px 2px 25px grey;*/
    /*background: linear-gradient(#f5e2cc, #ecc89d);*/
    background-image: url("./images/paper.png");
    background-size: cover;

    z-index: 2;

    color: #000000;
    font-size: 20px;
    /*margin-bottom: 3px;*/
    font-family: "Caveat", serif;
    text-align: center  ;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.74);
}

.image {
    margin-top: 3.5%;
    margin-left: 6.5%;
    width: 220px;
    height: 240px;
    background-image: url("./images/me_gren.jpeg"), url("./images/me_pink.png"), url("images/me_cat.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5),
    0px 0px 10px #655c51;
    border-radius: 10px;

    transition: 1s all;
    animation: bgLoop 10s infinite;
}

@keyframes bgLoop {
    0% {
        background-image: url("./images/me_gren.jpeg");
    }
    23% {
        background-image: url("./images/me_gren.jpeg");
    }
    33% {
        background-image: url("./images/me_pink.png");
    }
    56% {
        background-image: url("./images/me_pink.png");
    }
    66% {
        background-image: url("./images/me_cat.jpeg");
    }
    90% {
        background-image: url("./images/me_cat.jpeg");
    }
    100% {
        background-image: url("./images/me_gren.jpeg");
    }

}