@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap");


.misc {
    text-align: center;
    padding: 30px;
    filter:drop-shadow(0px 0px 8px black);
    margin-top: 1.5%;

}

.misc h1 {
        text-align: center;
        font-size: 50px;
        font-family: Lexend, serif;

        margin-top: -2%;
        margin-left: -85%;

        background-image: url("./images/0.jpg");
        background-size: contain;
        color: transparent;
        background-clip: text;
        /*transition: 1s all;*/
        animation: color 8s infinite;

}

.misc p {
    font-size: 25px;
    font-family: Lexend, serif;
    text-align: left;
    padding-left: 4%;
    padding-right: 30%;
    position: absolute;


}

.misc p2 {
    font-size: 20px;
    font-family: Lexend, serif;
}

.misc p3 {

}

.misc h2 {
    text-align: left;
    font-size: 50px;
    font-family: Lexend, serif;


    padding-left: 7%;
}

.slides {
    position: absolute;
    font-size: 18px;
    font-family: Lexend, serif;
    filter:drop-shadow(0px 0px 8px black);
    top: 50%;
    left: 16%;
    padding: 1%;

    width: 360px;
    height: 150px;
    /*border: 1px solid white;*/
    scale: 1.1;
}

.buns {
    position: absolute;
    font-size: 18px;
    font-family: Lexend, serif;
    filter:drop-shadow(0px 0px 8px black);
    top: 195%;
    left: 16%;
    padding: 1%;

    width: 360px;
    height: 150px;
    /*border: 1px solid white;*/
    scale: 1.1;
}

.vids {
    position: absolute;
    font-size: 18px;
    font-family: Lexend, serif;
    filter:drop-shadow(0px 0px 8px black);
    top: 50%;
    left: 54%;
    padding: 1%;

    width: 360px;
    height: 150px;
    /*border: 1px solid white;*/
    scale: 1.1;
}
.music {
    position: absolute;
    font-size: 15px;
    font-family: Lexend, serif;
    filter:drop-shadow(0px 0px 8px black);
    top: 195%;
    left: 50.8%;
    padding: 1%;

    width: 440px;
    height: 150px;
    /*border: 1px solid white;*/
    scale: 1.1;
}

.mini-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    gap: 15px;
}

/* Arrow buttons */
.arrow {
    background: #444;
    border: 2px solid #d7d7d7;
    color: #eee;
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    cursor: pointer;
    transition: background 0.2s;
}
.arrow:hover {
    background: #666;
}

/* Image styling */
.carousel-img {
    width: 240px;
    height: 130px;
    object-fit: cover;
    border: 2px solid #eee;
    /*border-radius: 8px;*/
    background: black;

}

.music img {
    width: 240px;
    height: 130px;
    object-fit: cover;
    border: 2px solid #eee;
    /*border-radius: 8px;*/
    background: black;
    margin-top: 3%;
}

/* Video styling */
.carousel-video {
    width: 240px;
    height: 130px;
    border: 2px solid #eee;
    border-radius: 1px;
    background: black;
    object-fit: cover;
}