@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap");


.misc {
    text-align: center;
    padding: 30px;
    filter:drop-shadow(0px 0px 8px black);
    margin-top: 1.5%;
}

.misc h1 {
        text-align: center;
        font-size: 50px;
        font-family: Lexend, serif;

        margin-top: -1%;
        margin-left: -80%;

        background-image: url("./images/0.jpg");
        background-size: contain;
        color: transparent;
        background-clip: text;
        /*transition: 1s all;*/
        animation: color 8s infinite;

}

.misc p {
    font-size: 25px;
    font-family: Lexend, serif;
    text-align: left;
    padding-left: 4%;
    padding-right: 30%;
    position: absolute;
}

.misc p2 {
    font-size: 20px;
    font-family: Lexend, serif;
}

.misc p3 {

}

.misc h2 {
    text-align: left;
    font-size: 50px;
    font-family: Lexend, serif;


    padding-left: 7%;
}

.slides {
    position: absolute;
    font-size: 15px;
    font-family: Lexend, serif;

    top: 65%;
    left: 15%;
    padding: 1%;

    width: 350px;
    height: 150px;
    border: 1px solid white;
}

.buns {
    position: absolute;
    font-size: 15px;
    font-family: Lexend, serif;

    top: 190%;
    left: 15%;
    padding: 1%;

    width: 350px;
    height: 150px;
    border: 1px solid white;
}

.vids {
    position: absolute;
    font-size: 15px;
    font-family: Lexend, serif;

    top: 65%;
    left: 51%;
    padding: 1%;

    width: 350px;
    height: 150px;
    border: 1px solid white;
}
.music {
    position: absolute;
    font-size: 15px;
    font-family: Lexend, serif;

    top: 190%;
    left: 51%;
    padding: 1%;

    width: 350px;
    height: 150px;
    border: 1px solid white;
}

.carousel {
    scale: 0.5;
    width: 1000px;
    /*height: 100px;*/
    /*position: absolute;*/
    margin: auto;

    top: -150%;
    left: -60%;
}